[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flatdict ="*"
sentry-sdk = "*"
freezegun = "*"
requests ="*"
paramiko = "*"
fabric = {extras = ["pytest"], version = "*"}
decorator = "*"
click = "==8.1.6"

[dev-packages]
bandit = "*"
black = "*"
boto3-stubs = "*"
coverage = "*"
coveralls = "*"
mock-ssh-server = "*"
moto = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"
pydocstyle = "*"
requests-mock = "*"
types-requests = "*"
types-paramiko = "*"

[requires]
python_version = "3.11"

[scripts]
sap = "python -c \"from sapinvoices.cli import main; main()\""
