[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
flatdict ="*"
sentry-sdk = "*"
freezegun = "*"
requests ="*"
paramiko = "*"
fabric = {extras = ["pytest"], version = "*"}
decorator = "*"
click = "==8.3.0"

[dev-packages]
black = "*"
boto3-stubs = "*"
coverage = "*"
coveralls = "*"
mock-ssh-server = "*"
moto = "*"
mypy = "*"
pre-commit = "*"
requests-mock = "*"
ruff = "*"
types-requests = "*"
types-paramiko = "*"
pip-audit = "*"

[requires]
python_version = "3.12"

[scripts]
sap = "python -c \"from sapinvoices.cli import main; main()\""
